extends layout

block content
    .row
        .container
            .col-md-12(style='margin-top: 10vh')
                h3 Hotel Booking
    .container
        .row
            each hotel, i in hotels
                .col-md-3
                    .card
                        .card-body
                            .card-title(style='font-size: 1.2em')='Your room is: ' + hotel.type_rooms
                            .card-subtitle.mb-2.text-muted.border-bottom='Number of your rooms: ' + hotel.num_rooms
                            .card-text
                                div='Number of people: ' + hotel.num_people
                                div='Number of bed: ' + hotel.num_bed
                                div='Whats included: ' + hotel.included
                                - let d = new Date(hotel.comin_free_date);
                                - let dd = d.getDate()
                                - if (dd < 10) dd = '0' + dd;
                                - let mm = d.getMonth() + 1;
                                - if (mm < 10) mm = '0' + mm;
                                - let yy = d.getFullYear()
                                - if (yy < 10) yy = '0' + yy;
                                div='Coming dates: ' + dd + '.' + mm + '.' + yy
                                    - let dt = new Date(hotel.comout_free_date);
                                - let ddd = dt.getDate()
                                - if (ddd < 10) ddd = '0' + ddd;
                                - let mmm = dt.getMonth() + 1;
                                - if (mmm < 10) mmm = '0' + mmm;
                                - let yyy = dt.getFullYear()
                                - if (yyy < 10) yyy = '0' + yyy;
                                div='Comout dates: ' + ddd + '.' + mmm + '.' + yyy
    //- Restaurant Booking
    .row
        .container
            .col-md-12(style='margin-top: 10vh')
                h3 Restaurant Booking
    .container
        .row
            each rest, i in rests
                .col-md-3
                    .card
                        .card-body
                            .card-title(style='font-size: 1.2em')='Client: ' + rest.type_client
                            .card-subtitle.mb-2.text-muted.border-bottom='Number of peopele: ' + rest.num_people
                            .card-text
                                - let date = new Date(rest.comin_date);
                                - let d2 = date.getDate()
                                - if (d2 < 10) d2 = '0' + d2;
                                - let m2 = date.getMonth() + 1;
                                - if (m2 < 10) m2 = '0' + m2;
                                - let y2 = date.getFullYear()
                                - if (y2 < 10) y2 = '0' + y2;
                                div='Coming dates: ' + d2 + '.' + m2 + '.' + y2

                